<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pasco | Past Questions on Your Smartphone or PC</title>
    <meta name="description" content="Pasco helps you prepare for exams by making it possible to access past questions and other resources from your smartphone or PC."/>
     <meta name="keywords" content="Pasco, Passco, Pasco App, Pasco KNUST, Past Questions App">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>statics/manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content="Pasco">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/apple-icon-152x152.png">

    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <meta name="theme-color" content="#008080">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64316417-4"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag () { dataLayer.push(arguments) }
      gtag('js', new Date())

      gtag('config', 'UA-64316417-4')
    </script>

    <style>
      html, body{
        height: 100%;
        width: 100%;
        background: #f0f0f0 !important;

      }
      body{
        top: 0px;
        margin-top: 0px
      }
    </style>
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <!--User session recording using SmartLook-->
    <!--<script type="text/javascript">-->
      <!--window.smartlook||(function(d) {-->
        <!--var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];-->
        <!--var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';-->
        <!--c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);-->
      <!--})(document);-->
      <!--smartlook('init', '59b80c738331731d8aa64484200e756acb99bf2e');-->
    <!--</script>-->
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="q-app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->


    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        messageStyle: "none"
      });
    </script>

    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.publicPath %>statics/katex/katex.min.css">
    <script src="<%= htmlWebpackPlugin.files.publicPath %>statics/MathJax/MathJax.js?config=AM_CHTML-full" async type="text/javascript"></script>
    <script src="<%= htmlWebpackPlugin.files.publicPath %>statics/ASCIIMathTeXKaTeX-2016-06-17.min.js"></script>
    <script src="<%= htmlWebpackPlugin.files.publicPath %>statics/katex/katex.min.js"></script>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="ca9d7dec-db90-4f88-aa76-2801f94ee469";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="https://cdn.auth0.com/js/auth0/8.9/auth0.min.js"></script>
  </body>
</html>
